<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update Product</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/product/update/{id}(id=${product.id})}" th:object="${product}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Price</label>
                        <input type="text" th:field="*{price}" class="form-control" placeholder="Price">
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Size</label>
                        <div>
                            <select class="custom-select" th:field="*{size}">
                                <option th:value="${T(com.sda.springdata2.chapter2.domain.ProductSize).SMALL}"
                                        th:text="${T(com.sda.springdata2.chapter2.domain.ProductSize).SMALL}">SMALL
                                </option>
                                <option th:value="${T(com.sda.springdata2.chapter2.domain.ProductSize).MEDIUM}"
                                        th:text="${T(com.sda.springdata2.chapter2.domain.ProductSize).MEDIUM}">MEDIUM
                                </option>
                                <option th:value="${T(com.sda.springdata2.chapter2.domain.ProductSize).BIG}"
                                        th:text="${T(com.sda.springdata2.chapter2.domain.ProductSize).BIG}">BIG
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 mt-5">
                            <input type="submit" class="btn btn-primary" value="Update Product">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
